@import "tailwindcss";



body{

  max-width: 1440px;

  margin: 0 auto;

  align-items: center;

  box-sizing: border-box;

}



@layer utilities {

.abeezee {

  font-family: "Inter", sans-serif;

}





  }